<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content ="width=device-width, initial-scale = 1.0">
        <title>bot</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatbot/style.css'%}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    </head>
    <body>
      <h1>Chef-bot</h1>  
        <div id="chatbot">
            <p class="botText"><span>Hello Chef!! Name your dish</span></p>
        </div>
        <div id = "userIp">
            <input type="text" id ="textIp" name="userMsg" placeholder="Type your message"/>
            <input type="submit" value="Send" id="buttonIp">
        </div>

        <script>
            function getUserResponse(){
                var userText =$('#textIp').val();
                var userHTML ="<p class = 'userText'> User: <span>"+userText+"</span></p>"
                $('#textIp').val("");
                $('#chatbot').append(userHTML);
                $.get('/chatbot/getResponse',{userMsg:userText}).done(function(data){
                    var returnedMsg = "<p class ='botText'>Chef-bot: <span>"+data+"</span></p>";
                    $('#chatbot').append(returnedMsg);
                })
            }
            $('#buttonIp').click(function(){getUserResponse();})

        </script>
    </body>
</html>